/* Style des th de la table PERSONNE */
.table th {
    padding: 0.35rem; /* Réduire le padding */
    font-size: 1.5rem; /* Réduire la taille de la police */
    white-space: nowrap; /* Empêcher le texte de passer à la ligne */
    height: 25px; /* Réduire la hauteur des cellules */
    border: 1px solid #ddd; /* Ajouter une bordure pour une meilleure lisibilité */
    background-color: #2980b9; /* Couleur de fond bleue */
    color: white; /* Couleur du texte blanche */
}

/* Style des boutons .btn-sm */
.btn-sm {
    padding: 0.25rem 0.5rem; /* Réduire le padding des boutons */
}

/* Classe pour un alignement à droite */
.right {
    float: right;
}

/* Style des boutons personnalisés */
.btn-unique {
    background-color: #4CAF50; /* Couleur de fond verte */
    color: white; /* Couleur du texte blanche */
    border: none; /* Aucun bord */
    padding: 10px; /* Padding (espacement intérieur) */
    text-align: center; /* Texte centré */
    text-decoration: none; /* Pas de soulignement */
    display: inline-block; /* Affiche en ligne */
    font-size: 16px; /* Taille de la police */
    margin: 4px 2px; /* Espacement extérieur */
    cursor: pointer; /* Curseur en forme de main */
    border-radius: 1px; /* Bords arrondis */
}

/* Style du survol des boutons personnalisés */
.btn-unique:hover {
    background-color: #45a049; /* Couleur au survol */
}

/* Style de l'en-tête de table (thead-light) */
.table .thead-light th {
    color: #fff;
    background-color: #1e0968; /* Couleur de fond personnalisée */
}

/* css D'application */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f4f9;
}
header {
   
    color: black;
    padding: 1px;
    text-align: center;
    width: 100%;
}

 footer {
    background-color: #333;
    color: white;
    padding: 1px;
    text-align: center;
    width: 100%;
}

.container {
    flex: 1;
    padding: 20px;
}

.btn-add {
    float: right;
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-add:hover {
    background-color: #218838;
}

.table-container {
    width: 100%;
    margin-top: 20px;
    max-height: 400px; /* Hauteur maximale du conteneur */
    overflow-y: auto; /* Défilement vertical */
}

.table-list {
    width: 100%;
    font-size: 16px;
    border-collapse: collapse;
}

.table-list th, .table-list td {
    padding: 8px 12px;
    border: 1px solid #ddd;
}

.table-list th {
    font-weight: bold;
    background-color: #1e0968;
    color: white;
}



.d-flex {
    display: flex;
    justify-content: center;
    gap: 10px;
}




/*css de niveau_couche*/
        .table th, .table td {
            padding: 0.5rem; /* Réduire le padding */
            font-size: 0.875rem; /* Réduire la taille de la police */
            white-space: nowrap; /* Empêcher le texte de passer à la ligne */
        }
        .btn-sm {
            padding: 0.25rem 0.5rem; /* Réduire le padding des boutons */
        }
        .table .thead-light th {
    color: #fff;
    background-color:  #1e0968;
}